<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/stylesheets/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">
	<link href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.bootstrap3.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
          <nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation"" style="width: 100%">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#">Sequelize Demo</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Funders <b class="caret"></b></a>
                  <span class="dropdown-arrow"></span>
                  <ul class="dropdown-menu">
                    <li><a href="/add_funders">Add</a></li>
                    <li><a href="/view_funders">List</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">DOI <b class="caret"></b></a>
                  <span class="dropdown-arrow"></span>
                  <ul class="dropdown-menu">
                    <li><a href="/add_dois">Add</a></li>
                    <li><a href="/view_dois">List</a></li>
                    <li><a href="/associate_funders">Associate Funders</a></li>
                  </ul>
                </li>
               </ul>
               
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        
        
        <div class="container">
        	
          <div class="well row">
            
            <h4>Basic Details:</h4>
            <div class="col-xs-4">
              <li><label >DOI:</label> <%=DOI.DOI%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >ISSN:</label> <%=DOI.ISSN%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >URL:</label> <%=DOI.URL%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >Current Date:</label> <%=DOI.currentDate%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >Deposited Date:</label> <%=DOI.depositedDate%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >Indexed Date:</label> <%=DOI.indexedDate%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label>Issue:</label> <%=DOI.issue%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >Volume:</label> <%=DOI.volume%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >Page:</label> <%=DOI.page%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >Title:</label> <%=DOI.title%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >Journal Name:</label> <%=DOI.journalName%></li>
            </div>
            
            <div class="col-xs-4">
              <li><label >Type:</label> <%=DOI.type%></li>
            </div>
            
            <br/>
            <h4>Funders:</h4>
            
            <%for(var i = 0; i < DOI.funders.length; i++) {%>
              
              <div class="col-xs-6">
                <strong>Funder <%=i+1%>: </strong>
                <li>Funder ID: <%=DOI.funders[i].funderId%></li>
                <li>Funder Name: <%=DOI.funders[i].funderName%></li>
                <li>Funder DOI: <%=DOI.funders[i].doi_funder.funderDOI%></li>
                <li>Award: <%=DOI.funders[i].doi_funder.award%></li>
              
              </div>
              <br/>
            <%}%>
            
          </div>
			    
        </div>
    
    <script src="/javascripts/vendor/jquery.min.js"></script>
    <script src="/javascripts/vendor/video.js"></script>
    <script src="/javascripts/flat-ui.min.js"></script>
    
  </body>
</html>
